@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.title{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #333;
}
.section{
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.image-gallery{
    width: 600px;
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
}

.image-item{ 
    width: 33%;
    overflow: hidden;
    padding: 1px;
}

